

.splash {
 margin-top: 4em;
}

@media (max-width: 80em) {
 .splash {
  margin-top: 0em;
  height: 100vh;
 }
}

.targeted {
 position: fixed;
 z-index: 100;
 /*background-color: white;*/
 left: 20em;
 top: 0;
 height: 100%;
 width: calc(100% - 50em) !important;
 overflow-y: scroll;
 margin: 0 !important;
}

.targeted-bg {
 background-color: #FFFFEE;
}

.targeted-bg-dark {
 background-color: #444;
}

.show-mobile {
 display: none !important;;
}

.show-desktop {
 display: inline !important;
}

@media (max-width: 80em) {
 .targeted {
   left: 15em;
   width: calc(100% - 35em) !important;
 }
}

@media (max-width: 50em) {
 .targeted {
  left: 0em;
  width: 100% !important;
 }
 .show-mobile {
  display: inline !important;;
 }
 .show-desktop {
  display: none !important;;
 }
}

.drop-zone {
 padding: 0.2em;
 background-color: #999;
 opacity: 0.5;
}

.active-drop-zone {
 padding: 0.2em;
 background-color: Highlight;
}

.text-decoration-underline {
 text-decoration: underline;
}

.text-decoration-line-through {
 text-decoration: line-through;
}

.text-decoration-none {
 text-decoration: none;
}
